.middle {
    width: calc(100vw - 400px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;

    :global {
        .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
            background-image: linear-gradient(90deg, #caf6ff 0%, #ced7ff 45%, #edbfff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            user-select: none;
        }

        .progress-bar {
            --rail-width: 0%;
            --track-width: 100%;
            cursor: pointer;
            display: flex;
            height: 6px;
            border-radius: 3px;
            background-image: linear-gradient(90deg, #caf6ff 0%, #ced7ff 45%, #edbfff 100%);
        }

        .rail {
            width: var(--rail-width);
            height: 6px;
            position: relative;
        }

        .handle {
            width: 14px;
            height: 14px;
            border-radius: 7px;
            position: absolute;
            top: -4px;
            right: -7px;
            background-color: #fff;
            border: 1px solid #56bbf1;
            opacity: 0;
            transition: opacity 0.4s;
        }

        .progress-bar:hover .handle {
            opacity: 1;
        }

        .track {
            width: var(--track-width);
            height: 6px;
            border-radius: 3px;
            background-color: #f3f3f3;
        }

        .time {
            display: flex;
            justify-content: space-between;
            user-select: none;

            & > span:nth-of-type(1) {
                color: #cbf1ff;
            }

            & > span:nth-of-type(2) {
                color: #ba67db;
            }
        }
    }
}
