.header {
    -webkit-app-region: drag;
    height: 32px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    :global {
        .favicon {
            flex-shrink: 0;
            height: 24px;
            width: 24px;
            margin-left: 8px;
        }
        
        .title {
            line-height: 1;
            width: 100%;
            padding-left: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .icon {
            flex-shrink: 0;
            height: 32px;
            width: 32px;
            padding: 4px;
            -webkit-app-region: no-drag;

            &:hover {
                background-color: #d4d4d4;
            }
        }

        .icon-maximize,
        .icon-unmaximize {
            padding: 8px;
        }

        .icon-close:hover {
            background-color: #ff5a5a;
        }
    }
}
