.header {
    -webkit-app-region: drag;
    height: 32px;
    flex-shrink: 0;
    border-radius: 8px 8px 0 0;
    background-color: #f3f3f3;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    :global {
        .icon {
            height: 32px;
            width: 32px;
            padding: 4px;
            -webkit-app-region: no-drag;

            &:hover {
                background-color: #d4d4d4;
            }
        }

        .icon-maximize {
            padding: 8px;
        }

        .icon-close {
            border-radius: 0 8px 0 0;

            &:hover {
                background-color: #ff5a5a;
            }
        }
    }
}
