body {
    margin: 0;
    font-family: helvetica;
    overflow: hidden;
}

body .icon-unmaximize {
    display: none;
}

body.maximize .icon-maximize {
    display: none;
}

body.maximize .icon-unmaximize {
    display: block;
}

* {
    box-sizing: border-box;
}