.left {
    height: 100%;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    :global {
        @mixin button-base {
            width: 32px;
            height: 32px;
            font-size: 32px;
            border-radius: 24px;
            border-color: var(--n-color);
            cursor: pointer;
        }

        .button-prev,
        .button-play,
        .button-next {
            @include button-base;

            &:hover {
                color: var(--s-color);
                border-color: var(--s-color);
            }
        }

        .button-next {
            transform: rotate(180deg);
        }

        .button-play {
            border: 1px solid;
            margin: 0 8px;
            width: 40px;
            height: 40px;
        }
    }
}
