.right {
    width: 240px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    :global {
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            font-size: 24px;
            border-radius: 16px;
            cursor: pointer;
            margin-left: 4px;
            border: 1px solid transparent;

            &:hover {
                color: var(--s-color);
                border-color: var(--s-color);
            }
        }

        .f28 {
            font-size: 28px;
        }

        .active {
            color: var(--s-color);
            border-color: var(--s-color);
        }

        .volumn-bar {
            width: 80px;
            margin-left: 8px;
            // background: var(--n-color);

            // .handle {
            //     opacity: 1;
            //     border-color: var(--s-color);
            // }
        }
    }
}
