.tips {
    position: absolute;
    transform: translateX(-50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 12px;
    border-radius: 6px;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
    z-index: 1;
}
