.drawer {
    position: absolute;
    top: 32px;
    right: 0;
    width: 240px;
    height: calc(100vh - 96px);
    background-color: var(--bg-color3);
    color: var(--s-color);

    :global {
        .table-header {
            display: flex;
            height: 32px;
            line-height: 32px;
            padding: 0 4px;
        }

        .table-header div:nth-of-type(1) {
            width: 44px;
        }

        .table-header div:nth-of-type(2) {
            width: 144px;
        }

        .table-header div:nth-of-type(3) {
            width: 44px;
        }

        .table-body {
            overflow: auto;
            height: calc(100% - 64px);

            &::-webkit-scrollbar {
                display: none;
                width: 4px;
                background-color: var(--bg-color2);
            }

            &:hover::-webkit-scrollbar {
                display: block;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--s-color);
                border-radius: 2px;
            }
        }

        .item {
            display: flex;
            height: 32px;
            line-height: 32px;
            padding: 0 4px;
            cursor: pointer;
            user-select: none;

            &:hover {
                background-color: var(--s-color2);
            }
        }

        .item div:nth-of-type(1) {
            width: 44px;
        }

        .item div:nth-of-type(2) {
            width: 144px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
        }

        .item div:nth-of-type(3) {
            width: 44px;
        }

        .table-footer {
            height: 32px;
        }
    }
}
